#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 2em;
  padding-right: 2em;
  z-index:1000;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  margin-left: 10px;
  float: left;
  width: 95px;
  height: 80px;
  font-size: 30px;
  line-height: 2.5;
}

#compose {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  color: #00ba9d;
  border: 1px solid black;
  float: right;
  margin-top: 10px;
  font-size: 20px;
  width: 120px;
  height: 60px;
  display: block;
  cursor: pointer;
}

#compose:active {
  color: #000000;
}

/* responsive: remove app name when the screen is getting too small */
/* as well increass the size of compose button */
@media(max-width: 768px) {
  #nav-bar .header {
    display: none;
  }
  #compose {
    width: 50%;
  }
}