/* Styling in common: new-tweet, existing tweets */

.new-tweet {
  position: relative;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  margin: 1em 2em;
  padding: 0 10px 10px;
  top: 40px;
}

/* Styling for making new tweet*/

.new-tweet h2 {
  margin-top: 10px;
  border-bottom: 1px solid #000000;
}

.new-tweet textarea {
  width: 100%;
  height: 100px;
}

.new-tweet input, span {
  display: inline-block;
}

.new-tweet span {
  float: right;
  line-height: 2;
  font-style: italic;
  margin-right: 10px;
}

/* Following is for existing tweet styling */
.tweet-container {
  background-color: #FFFFFF;
  padding: 0;
}

.tweet {
  position: relative;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  margin: 1em 2em;
  top: 40px;
  /* For fade in amination */
  opacity: 0.5;
  transition: 0.3s;
}

.tweet-header {
  background-color: #eee;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

/* header nav bar styling */
.tweet-header .avatar {
  width: 40px;
  height: 40px;
}

.tweet-header .name {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
}

.tweet-header .username {
  float: right;
  margin-top: 5px;
}

/* tweet body styling */
.tweet-body {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* footer nav bar styling */
.tweet-footer {
  border-top: 1px solid #DCDCDC;
  font-size: 12px;
  margin-top: 61px;
  padding: 10px;
}

.fa-flag, .fa-retweet, .fa-heart {
  float: right;
  margin-right: 5px;
  color: #00ba9d;
}

/* For fade in amination */
.tweet:hover {
  opacity: 1;
}


