/* Styling in common: new-tweet, existing tweets */

.new-tweet {
  position: relative;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  margin: 1em 2em;
  padding: 0 10px 10px;
  top: 40px;
  display: none;
}

/* Styling for making new tweet*/

.new-tweet h2 {
  margin-top: 10px;
  border-bottom: 1px solid #000000;
}

.new-tweet textarea {
  width: 100%;
  height: 60px;
}

.new-tweet input, span {
  display: inline-block;
}

.new-tweet span {
  float: right;
  line-height: 2;
  font-style: italic;
  margin-right: 10px;
}

/* styling for error message */
.isa_error {
    color: #D8000C;
    font-size:1em;
    opacity: 0;
}

/* Following is for existing tweet styling */
.tweet-container {
  background-color: #FFFFFF;
  padding: 0;
}

.tweet {
  position: relative;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  margin: 1em 2em;
  top: 40px;
  /* For fade in amination */
  opacity: 0.5;
  transition: 0.3s;
}

.tweet-header {
  background-color: #eee;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

/* header nav bar styling */
.tweet-header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px 10px 10px 10px;
}

.tweet-header .name {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
}

.tweet-header .username {
  float: right;
  margin-top: 10px;
}

/* tweet body styling */
.tweet-body {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

/* footer nav bar styling */
.tweet-footer {
  border-top: 1px solid #DCDCDC;
  font-size: 12px;
  margin-top: 31px;
  padding: 5px 10px;
}

.fa-flag, .fa-retweet, .fa-heart {
  float: right;
  margin-right: 5px;
  color: #00ba9d;
  opacity: 0;
  transition: 0.3s;
}

/* For fade in amination */
.tweet:hover {
  opacity: 1;
}

.tweet:hover .tweet-footer .fa-flag{
  opacity: 1;
}

.tweet:hover .tweet-footer .fa-retweet{
  opacity: 1;
}

.tweet:hover .tweet-footer .fa-heart{
  opacity: 1;
}

/* responsive design */
@media(max-width: 768px) {
  /* for the new-tweet form styling */
  /* to make the compose form larger so is easier for mobile user */
  /* to compose tweets */
  .new-tweet textarea {
    height: 150px;
    font-size: 2em;
  }

  .isa_error {
    display: all;
  }

  /* for the existing tweets display */
  /* disable the fade in fade out animation and fix container margins */
  .tweet {
    opacity: 1;
    font-size: 1.5em;
    margin-left: 32px;
    margin-right: 32px;
  }

  /* adjust display of @username when the screen size getting small */
  .tweet-header .username {
    margin-top: 15px;
  }

  /* bigger avatar display */
  .tweet-header .avatar {
    height: 60px;
    width: 60px;
  }
}
/* responsive design */
@media(min-width: 645px) and (max-width: 750px) {
  .tweet-header .name {
    font-size: 1em;
  }

  .tweet-header .username {
    font-size: 1em;
  }
}

@media(max-width: 644px) {
  .tweet-header .name {
    display: none;
  }
}




